body{
	width:100%;
	font-family:'微软雅黑','宋体';
	font-size:16px;
    line-height:1.4;
    color:white;
}
body,h1,h2,h3,h4,p,ul,ol{
    margin:0;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
ul li{
	margin:10px 0px;
}
img{border:0;}


.clearfix {
  *zoom: 1;
}
 .clearfix:before,.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
  }
 .clearfix:after {
    clear: both;
  }
  h1{
  	font-size:28px;
  	margin-bottom:20px;
  }
h2{
	font-size:20px;
	margin-bottom:20px;
}
p{
	margin:10px 0px;
}
a{
	color:#2C2929;
	cursor:pointer;
}
.gray{
	color:#2C2929;;
}
.content{
	max-width:980px;
	margin:0 auto;
	padding:48px 20px;
}
@media screen and (min-width:750px){
	.pull-left{
		float:left !important;
	}
	.pull-right{
		float:right !important;
	}
}


.list-inline{
	padding:0px;
	list-style:none;
	margin-left:-10px;
}
.list-inline>li{
	display:inline-block;
	*display:inline;
	*zoom:1;   
	padding-left:10px;
}
dl{
	margin:0px;
}
.dl-horizontal dt{
	float:left;
	width:160px;
	clear:left;
	text-align:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.dl-horizontal dd{
	margin-left:160px;
}
.icon{
	margin-right:8px;
	font-size:18px;
}
.icon-circle{
	display:inline-block;
	width:32px;
	height:32px;
	margin-right:8px;
	font-size:22px;
	text-align:center;
	line-height:32px;
	border:1px solid #fff;
	border-radius: 16px;
}
/*导航*/
#nav{
	position:fixed;
	z-index:1000;
	width:100%;
	min-height:104px;
	background:#2c3e50;
}
#nav .content{
	padding:20px;
}
#nav .name{
	font-size:32px;
	color:#0ca3b9;
}
#nav a{
	color:white;
	text-decoration: none;
}
#nav li.active a{
	color:#0ca3b9;
}
#nav .menu{
	margin-top:16px;
}
@media screen and (max-width:750px){
	#nav .name{
		display:none;
	}
}
/*关于我*/
#about-me{
	background:#0ca3b9;
	padding-top:104px;
}
#about-me .introduce{
	margin-top:40px;
}
#about-me .info{
	width:320px;
	margin:60px auto 0px auto;
}
#about-me .info dt,#about-me .info dd {
	padding:8px 0px;
	border-bottom:1px dotted #fff;
	text-align:left;
}
@media screen and (max-width:750px){
	#about-me .photo{
		display:none;
	}
	#about-me .info{
		margin-top:10px;
	}
}
/*个人经历*/
#experience-tar{
	height:104px;
	margin-top:-104px;
}
#experience{
	background:#7f8c8d;
}
#experience h2{
	padding:10px 0px;
	margin-bottom:10px;
	border-bottom:1px solid #fff;
}
#experience span{
	display:inline-block;
}
#experience .time{
	width:160px;
}
#experience .job,#experience .education{
	width:250px;
}
#experience .company,#experience .school{
	min-width:200px;
}
#experience .project li+li{
	margin-top:20px;
}
#experience .project p+p{
	color:#CECECE;
	font-size:14px;
	margin:4px 0px;
}
/*IT技能*/
#skills-tar{
	height:104px;
	margin-top:-104px;
}
#skills{
	background:#16a085;
}
#skills .info{
	width:300px;
	margin:0 auto;
}
.progress {
	position:relative;
	overflow: hidden;
	width:100%;
	height: 20px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	text-align:center;
	background-color: #f5f5f5;
	border-radius: 2px;
	-webkit-box-shadow:  0 0px 2px rgba(0,0,0,.1);
	box-shadow:  0 0px 2px rgba(0,0,0,.1);
}
.progress-bar {
	position: absolute;
	width: 0;
	height: 100%;
	color: #fff;
	text-align: center;
	background-color: #0ca3b9;
}
.progress span {
	position: relative;
	color:#2C2929;
}